body {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  /* border: 1px red solid; */
}

.header {
  z-index: 999;
}

/* intentando arreglar nav */
.show {
  background-image: linear-gradient(90deg, #000, transparent);
}

.navfijo {
  z-index: 99;
}

svg {
  width: 10%;
  display: flex;
}

a .navbar {
  display: flex;
}

.contSvg {
  width: 50%;
}

/* QUIENES SOMOS */
.iconoparrafo {
  background-color: #0a6183;
}

/* DESTACADOS */

.card {
  background-color: #0a6183;
}

/* FOOTER */

footer {
  background-color: #0a6183;
  font-size: 1rem;
}

footer i {
  margin: 0 5%;
}

/* MEDIAQUERYS */

@media (min-width: 576px) {
  .contSvg {
    width: 30%;
  }
  footer {
    font-size: 2rem;
  }
}
/* MEDIUM */
@media (min-width: 768px) {
  footer {
    font-size: 2rem;
  }
}
/* LARGE */
@media (min-width: 992px) {
  .contSvg {
    width: 10%;
  }
  .show {
    background-image: none;
  }
}

@media (min-width: 1200px) {
}
